body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(22, 95, 158);

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(15, 75, 128);
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}


.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(98, 0, 0);
}




@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}
